<!DOCTYPE html>
<html>
<head>
    <title>SMS Gateway by Mr.Rm19</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Dashboard</a> | <a href="/send">Kirim SMS</a> | <a href="/logs">Riwayat</a>
    </nav>
    <main>
        <%= yield %>
    </main>
</body>
</html>